.keyboard-theme {
  background: transparent
}

.keyboard-theme .hg-button {
  background: var(--key-bg);
  color: white;
  border: 0;
  font-weight: bold;
}

.hg-rows .hg-row:nth-of-type(2) {
  padding: 0 10px;
}