@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
  margin: 0;
  font-family: HelveticaNeue-Light,Helvetica Neue Light,Helvetica Neue,Helvetica,Arial,Lucida Grande,sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --black: #212121;
  --orange: #f5793a;
  --blue: #85c0f9;
  --bg-dark: #121213;
  --key-bg: #808384;
  --input-border: #3a3a3c;
  --color-placement: var(--blue);
  --color-correct: var(--orange);
  --color-incorrect: var(--black);
}

html {
  background: var(--bg-dark);
}

main {
	max-width: 500px;
	margin: 0 auto;
	text-align: center;
	display: flex;
	flex-direction: column;
}